﻿
<br /><br />

      <div id="dv">
          hola
          <input type="text" id="txt1" value="hello from text 1" />
          <input type="button" id="btn" value="Click Me" />
          <input custom-attribute="hello world" class="testcss" type="text" id="txt2" value="" />
      </div>

<script>


    $(document).ready(function () {
        
        var item = $('#dv .testcss').attr('custom-attribute');

        console.log(item);
    });

</script>