﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JService Desk</title>

</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">


            <div class="sidebar-wrapper">
                <div class="logo">
                    @Html.ActionLink("JService Desk", "Index", "Home", null, htmlAttributes: new { @class = "simple-text" })
                </div>

                <ul class="nav">

                    <li class="@BugTracker.Web.Helper.UiHelper.GetCurrentMenuCss("Index", "Home")">

                        <a href="@Url.Action("Index","Home")">
                            <i class="ti-user"></i>
                            <p>User Profile</p>
                        </a>

                    </li>
                    <li class="@BugTracker.Web.Helper.UiHelper.GetCurrentMenuCss("ClientList", "User")">

                        <a href="@Url.Action("ClientList","User")">
                            <i class="ti-user"></i>
                            <p>Client List</p>
                        </a>

                    </li>
                    <li>
                        <a href="typography.html">
                            <i class="ti-text"></i>
                            <p>Typography</p>
                        </a>
                    </li>
                    <li>
                        <a href="icons.html">
                            <i class="ti-pencil-alt2"></i>
                            <p>Icons</p>
                        </a>
                    </li>
                    <li>
                        <a href="maps.html">
                            <i class="ti-map"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li>
                        <a href="notifications.html">
                            <i class="ti-bell"></i>
                            <p>Notifications</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        @*<a class="navbar-brand" href="javascript:void(0);">Welcome to your Dashboard</a>*@
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-user"></i>
                                    <p>@ViewBag.LoggedInUserName</p>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Logout", "Logout", "Home", null)
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright pull-right">
                        <p>&copy; JService Desk</p>
                    </div>
                </div>
            </footer>

        </div>
    </div>


    <div id="divProcessing" class="modal">
        <div class="center">
            <img src="~/images/loading.gif" />
        </div>
    </div>


    @Styles.Render("~/assets/css")
    @Styles.Render("~/assets/css2")
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    @Styles.Render("~/assets/css1")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/assets/scripts")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">

    $(document).ready(function () {


      $("#divProcessing").hide();

      $("form").on("submit", function (event) {
          if ($(this).valid()) {
              $("#divProcessing").show();
          }

      });
    });
    </script>

</body>
</html>
