﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JService Desk</title>
  
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            @Html.ActionLink("JService Desk", "Index", "Home", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Contact Us", "ContactUs", "Home", null, htmlAttributes: new { @class = "nav-link" })
                    </li>

                </ul>



            </div>
        </div>
    </div>


    <div class="container">



        <div id="divProcessing" class="modal">
            <div class="center">
                <img src="~/images/loading.gif" />
            </div>
        </div>


        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; JService Desk</p>
        </footer>
    </div>







    <script type="text/javascript">

    $(document).ready(function () {


      $("#divProcessing").hide(); 

      $("form").on("submit", function (event) {        
          if ($(this).valid()) {
              $("#divProcessing").show();
          }
        
      });
    });
    </script>

</body>
</html>
