﻿ 

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger">
    <h1>
        Application Error
    </h1>
    <h1>
        Sorry, an error occurred while processing your request.
    </h1>
    <br />
    <br />
    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home",null, htmlAttributes: new { @class="btn btn-info" })</h6>
    <br />
    <br />
</div>