﻿@using PagedList.Mvc
@model  PagedList.StaticPagedList<BugTracker.Web.Areas.Company.ViewModel.ClientVM>



<div class="header">
    <h4 class="title">Client List</h4>
</div>
<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>

        <th>Name</th>
        <th>Address</th>
        <th>Created On</th>
        <th></th>
        <tbody>

            @{
                foreach (var client in Model)
                {
                    <tr>
                        <td>@client.Name</td>
                        <td>@client.Address</td>
                        <td>@client.CreatedOn.ToShortDateString()</td>
                        <td>@Html.ActionLink("Edit", "EditClient", new { identifier = client.Identifier })</td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <p></p>
     

    <div style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("ClientList", new { page = page}), PagedListRenderOptions.OnlyShowFivePagesAtATime
        )
    </div>

</div>