﻿@model BugTracker.Web.Areas.Company.ViewModel.ClientVM

<div>
    <div class="card">
        <div class="header">
            <h4 class="title">Edit Client</h4>
        </div>
        <div class="content">


            @using (Html.BeginForm("EditClient", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control border-input" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address)
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control border-input" } })

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RoleId)
                            @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Roles, "Value", "Text", Model.RoleId), "--Select--", new { @class = "form-control border-input", @onchange="changedropdown(this)" })
                            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsChecked)
                            @Html.CheckBoxFor(model => model.IsChecked,  new { @class = "form-control border-input" });
                        </div>
                    </div>
                </div>


                <div class="text-center">

                    <input type="submit" class="btn btn-info btn-fill btn-wd" value="Save" />
                </div>
                <div class="clearfix"></div>

            }
            <script>
                function changedropdown(obj)
                {
                    alert(obj.value);
                }
            </script>
            
        </div>
    </div>
</div>