﻿@model  BugTracker.Web.ViewModel.UserVM

@{
    ViewBag.Title = "";
}



@using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>

    

    <div class="card-body">
       
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.UserLoginVm.EmailAddress, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.UserLoginVm.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4"> </div>
            <div class="col-md-8">
                @Html.ValidationMessageFor(model => model.UserLoginVm.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.UserLoginVm.Password, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.UserLoginVm.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4"> </div>
            <div class="col-md-8">
                @Html.ValidationMessageFor(model => model.UserLoginVm.Password, "", new { @class = "text-danger" })
            </div>

            <div class="clearfix"></div>
            <div class="col-md-4"> </div>
            <div class="col-md-8">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home", null, new { @class = "nav" })
            </div>

            <div class="clearfix"></div> 
            <div class="col-md-12">
                @{

                    if (ViewBag.loginErrorMessage != null)
                    {
                         
                            <div class="text-danger">@ViewBag.loginErrorMessage</div>
                       

                    }
                }
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
            </div>
        </div>
        <p>&nbsp;</p>


    </div>
</div>

            }
