﻿@model  BugTracker.Web.ViewModel.UserVM

@{
    ViewBag.Title = "";
  
}

<div id="mainPanel">

    @using (Html.BeginForm("_RegisterPartial", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-header">
                <h2>Register New Account</h2>
                <p><h5>Its super quick. Will take only few seconds</h5></p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    @{

                        if (ViewBag.errorMessage != null)
                        {
                            <ul>
                                @foreach (string error in ViewBag.errorMessage)
                                {
                                    <li class="alert alert-danger">@error</li>
                                }
                            </ul>

                        }
                    }
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserRegistrationVM.CompanyName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UserRegistrationVM.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserRegistrationVM.CompanyName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserRegistrationVM.Firstname, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UserRegistrationVM.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserRegistrationVM.Firstname, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserRegistrationVM.Lastname, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UserRegistrationVM.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserRegistrationVM.Lastname, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserRegistrationVM.EmailAddress, htmlAttributes: new { @class = "control-label" })  <span class="text-warning">(Note: this will be your username)</span>
                    @Html.EditorFor(model => model.UserRegistrationVM.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserRegistrationVM.EmailAddress, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserRegistrationVM.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UserRegistrationVM.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserRegistrationVM.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserRegistrationVM.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UserRegistrationVM.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserRegistrationVM.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                 
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-lg btn-primary btn-block"  />
                </div>

            </div>

        </div>
 
}

</div>