﻿<br />
<div class="alert alert-danger">
    <h1>Access Denied</h1>
    <br /><br />
    <h5>
        You are not authorized to view this page. Please @Html.ActionLink("click here", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-info" }) to return to home page.
    </h5>
</div>