﻿@model  BugTracker.Web.ViewModel.UserVM

@{
    ViewBag.Title = "";

}

<div id="mainPanel">

    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="card">
            <div class="card-header">
                <h2>Forgot Password</h2>
            </div>
            <div class="card-body">              


                <div class="form-group">
                    @Html.LabelFor(model => model.UserRegistrationVM.EmailAddress, htmlAttributes: new { @class = "control-label" }) 
                    @Html.EditorFor(model => model.UserRegistrationVM.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserRegistrationVM.EmailAddress, "", new { @class = "text-danger" })
                </div>

                


                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" />
                </div>

            </div>

        </div>

    }

</div>