﻿<br />
<div class="alert alert-success">
    <h1>Forgot Password email sent</h1>
    <br /><br />
          <h5>
              If the email address you provided is associated with an account in our records, you will receive an email with instructions
              for resetting your password. If you did not receive the email please make sure that you check the Junk folder.
          </h5>
</div>