﻿ 
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">JService Desk</h1>
    <p class="lead">
        JService Desk is a <b>free</b> basic helpdesk request tracker. Try it to manage and resolve requests from your customers. 
    </p>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-md-7">      
        <div>
            @{ Html.RenderPartial("_RegisterPartial"); }
        </div>
    </div>
    <div class="col-md-5">       
        @{ Html.RenderPartial("_LoginPartial"); }
    </div>
</div>