﻿<br />
<div class="alert alert-success">
    <h1>Password changed successfully</h1>
    <br /><br />
          <h5>
              You have successfully changed your password. Please @Html.ActionLink("click here", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-danger" }) to login to your account.
          </h5>
</div>