﻿
@{
   
}

<br /><br />
<h1>Thank you for registering. Please verify your account.</h1>
<br />
<h5>
    In order to gain access to this site, you must verify your account. An email has been sent to the email address address (that you specified during registration)
    with a link to verify. If you have not received the email after few minutes, please check your spam folder.
    
</h5>