﻿@model BugTracker.Web.ViewModel.UserVM

<br /><br />

@{

    if (ViewBag.errorMessage != null)
    {
        <div class="container">

            <div class="alert alert-danger">
                <strong>Oops!</strong> We are unable to verify your account. Please ensure that you are using the correct verification link and that the link has not expired.
            </div>
        </div>
    }
    else
    {
        using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @{

                            if (ViewBag.innerMessage != null)
                            {
                                <ul>
                                    <li class="alert alert-danger">An error occured. Could not process your request.</li>
                                </ul>

                            }
                        }
                    </div>


                    <div class="form-group">
                        @Html.HiddenFor(model => model.UserRegistrationVM.Identifier)

                        @Html.LabelFor(model => model.UserRegistrationVM.Password, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.UserRegistrationVM.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserRegistrationVM.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserRegistrationVM.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.UserRegistrationVM.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserRegistrationVM.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" />
                    </div>

                </div>

            </div>

        }
    }
}



