﻿ 

<br /><br />

      <div class="form-group">
          @{

              if (ViewBag.errorMessage != null)
              {
                  <div class="container">
                     
                      <div class="alert alert-danger">
                          <strong>Oops!</strong> We are unable to verify your account. Please ensure that you are using the correct verification link.
                      </div>
                  </div>

                 

              }
              else
              {
                  <h1>Successful</h1>
                  <br />
                  <h5>
                      Your account has been verified successfully. Please @Html.ActionLink("click here", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-success" }) to login to your account.

                  </h5>
              }
          }


      </div>

