﻿

@model BugTracker.Web.Areas.Company.ViewModel.UserVM
 
<div>
    <div class="card">
        <div class="header">
            <h4 class="title">Change Password</h4>
        </div>
        <div class="content">


            @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LoginVM.CurrentPassword)
                            @Html.EditorFor(model => model.LoginVM.CurrentPassword, new { htmlAttributes = new { @class = "form-control border-input" } })
                            @Html.ValidationMessageFor(model => model.LoginVM.CurrentPassword, "", new { @class = "text-danger" })

                        </div>
                    </div>

                   

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LoginVM.NewPassword)
                            @Html.EditorFor(model => model.LoginVM.NewPassword, new { htmlAttributes = new { @class = "form-control border-input" } })
                            @Html.ValidationMessageFor(model => model.LoginVM.NewPassword, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LoginVM.ConfirmPassword)
                                @Html.EditorFor(model => model.LoginVM.ConfirmPassword, new { htmlAttributes = new { @class = "form-control border-input" } })
                                @Html.ValidationMessageFor(model => model.LoginVM.ConfirmPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>


                    </div>

                    <div class="text-center">

                        @{

                            if (ViewBag.passwordError != null)
                            {
                                <div class="alert alert-danger">@ViewBag.passwordError</div>
                            }

                            if (ViewBag.passwordSuccess != null)
                            {
                                <div class="alert alert-success">Password changed successfully.</div>
                            }
                        }

                        <input type="submit" class="btn btn-info btn-fill btn-wd" value="Change Password" />
                    </div>
                    <div class="clearfix"></div>

                    }
                </div>
            </div>
</div>