﻿@model BugTracker.Web.Areas.Company.ViewModel.UserVM

<div class="col-lg-8 col-md-7">
    <div class="card">
        <div class="header">
            <h4 class="title">Edit Profile</h4>
        </div>
        <div class="content">


            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountVM.CompanyName)
                            @Html.EditorFor(model => model.AccountVM.CompanyName, new { htmlAttributes = new { @class = "form-control border-input" } })
                            @Html.ValidationMessageFor(model => model.AccountVM.CompanyName, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountVM.EmailAddress)
                            @Html.EditorFor(model => model.AccountVM.EmailAddress, new { htmlAttributes = new { @class = "form-control border-input", @readonly = "true" } })
                            @Html.ValidationMessageFor(model => model.AccountVM.EmailAddress, "", new { @class = "text-danger" })

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountVM.Firstname)
                            @Html.EditorFor(model => model.AccountVM.Firstname, new { htmlAttributes = new { @class = "form-control border-input" } })
                            @Html.ValidationMessageFor(model => model.AccountVM.Firstname, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountVM.Lastname)
                            @Html.EditorFor(model => model.AccountVM.Lastname, new { htmlAttributes = new { @class = "form-control border-input", } })
                            @Html.ValidationMessageFor(model => model.AccountVM.Lastname, "", new { @class = "text-danger" })

                        </div>
                    </div>

                </div>
                
                <div class="text-center">

                    @{

                        if (ViewBag.updateError != null)
                        {                           
                            <div class="alert alert-danger">@ViewBag.updateError</div>                          
                        }

                        if (ViewBag.updateSuccess != null)
                        {                            
                            <div class="alert alert-success">Data saved successfully.</div>                            
                        }
                    }

                    <input type="submit" class="btn btn-info btn-fill btn-wd" value="Update Profile" />
                </div>
                <div class="clearfix"></div>

            }
        </div>
    </div>
</div>

<div class="col-lg-8 col-md-7">
    
   
    @Html.Partial("ChangePassword")
</div>